@model List<CRUD_Management_System.Models.UserDetailsModel>

<h2>Gebruikers</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Alias</th>
            <th>Address</th>
            <th>ZIP Code</th>
            <th>City</th>
            <th>Email</th>
            <th>Phonenumber</th>
            <th>Online Status</th>
            <th>Absence due Illness</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.Alias</td>
                    <td>@user.Address</td>
                    <td>@user.ZIP</td>
                    <td>@user.City</td>
                    <td>@user.Email</td>
                    <td>@user.Phonenumber</td>
                    <td>@user.Online</td>
                    <td>@user.Sick</td>
                    <td>
                        <a href="@Url.Action("Details", "User", new { aliasId = user.Alias })" class="btn btn-info btn-sm">View Details</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="11">Geen gebruikers gevonden.</td>
            </tr>
        }
    </tbody>
</table>
