@model IEnumerable<CRUD_Management_System.Models.UserDetailsModel>

@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welkom @ViewData["CurrentUser"] :: Admin: @ViewData["Role"]</h1>

    <!-- Buttons Top -->
    <a asp-controller="Login" asp-action="Index" class="btn btn-danger">Uitloggen</a>

    <!-- Gebruikerslijst -->
    <div class="mt-4">
        <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Zoeken...">

        <div class = "table-cell">
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Alias</th>
                        <th>Address</th>
                        <th>ZIP Code</th>
                        <th>City</th>
                        <th>Email</th>
                        <th>Phonenumber</th>
                        <th>Online Status</th>
                        <th>Absence due Illness</th>
                        <th>Actions</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="userTableBody">
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td class="table-cell">@user.Name</td>
                            <td class="table-cell">@user.Surname</td>
                            <td class="table-cell">@user.Alias</td>
                            <td class="table-cell">@user.Address</td>
                            <td class="table-cell">@user.ZIP</td>
                            <td class="table-cell">@user.City</td>
                            <td class="table-cell">@user.Email</td>
                            <td class="table-cell">@user.Phonenumber</td>
                            <td class="table-cell">@user.Online</td>
                            <td class="table-cell">@user.Sick</td>
                            <td>
                                <a asp-controller="EditUserDetails" asp-action="Index" asp-route-alias="@user.Alias" class="btn btn-info btn-sm">Edit</a>
                            </td>
                            <td>
                                <button class="btn btn-info btn-sm delete-btn"
                                        type="button" id="deleteUserButton"
                                        data-alias="@user.Alias">
                                        Delete
                                </button>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Buttons Bottom -->
    <a asp-controller="CreateUser" asp-action="Index" class="btn btn-danger">Create New User</a>
</div>

<script src="~/js/userSearch.js"></script>
<script src="~/js/tableRowClickHighlight.js"></script>
<script src="~/js/confirmation.js"></script>
<script src="~/js/deleteUser.js"></script>